header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  width:100%;
  flex-grow: 1;
  border-bottom: 1px solid black;
  height: 80px;
}
.logo{
  display:flex;
  align-items: center;
  flex-grow: 1;
}
.logo span{
  color:MediumAquamarine;
}
nav span{
  display: inline-block;
}
a{
  color:black;
}
nav{
  display:block;
}
.large{
  border: 2px solid black;
  margin-top: 5px;
  display: block;
  width: 630px;
  margin-right: 35px;
}
.lead-story{
  border: 3px solid black;
}
.image-content{
  border-bottom: 1px solid black;
}
.narrative{
}
.medium{
  border: 2px solid black;
  display: block;
  width: 300px;
  margin-top: 5px;
  margin-right: 35px;
}
.content{
  display: flex;
}
.story{
  border: 2px solid black;
}
.image-content2{
  border: 1px solid black;
}
.image-content3{
  border: 1px solid black;
}
.image-content4{
  border: 1px solid black;
}
.small{
  width: 240px;
  border: 3px solid black;
  display: block;
  margin-top:5px;
  margin-right:35px;
}
.cookie{

}
.news-bites{
  border: 1px solid black;
}





