header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  width:100%;
  border-bottom: 1px solid black;
  height: 80px;
}
.logo{
  display:flex;
  align-items: center;
  flex-grow: 1;
  padding-left:30px;
}
.logo span{
  color:MediumAquamarine;
}
nav span{
  display: inline-block;
}
a{
  color:black;
  padding-right: 40px;
}
nav{
  display:block;
}
