header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  width:100%;
}
.logo{
  display:flex;
  align-items: center;
}
.logo span{
  color:MediumAquamarine;
}
nav span{
  display: inline-block;
}
a{
  color:black;
}
nav{
  display:block;
}
